#header{
	background-color:#4682B4;
	display: flex;
	justify-content: space-between;
	height: 12%;
}
.logo{
	width:5%;
	padding: 5px;
	margin-left: 5vw;
}
.titulo{
	color: white;
	align-self: center;
}
.sair{
	color: white;
	background-color:#4682B4;
	border: none;
	align-self: center;
	text-decoration: none;
	font-size:200%;
	margin-right: 3vw;
	height: 100%;
}
.sair:hover{
	color:#ADD8E6;
	cursor: pointer;
}
.sair:focus{
	outline: 0px;
}
