.footer{
    position:absolute;
    bottom:0;
    height: 10%;
    width:100%;
    border-top: 1px solid #4682B4;
    
    display: flex;
    justify-content: center;
}

.footer p{
    align-self: center;
}