.menu{
    /* background-color: #4682B499; */
    flex: 10%;
    height: 60vh;
    /* outline: 1px solid #4682B4; */
    border-right: 1px solid #4682B4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    overflow: scroll;
 }

.btn{
    width: 50%;
    color: white !important;
    background-color: #4682B4 !important;
}

.btn:hover{
    background-color: #4682B4aa !important;
}

.btnHelp{
     margin-top: auto !important;
 }

.lista{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.lista li{
    margin: 5px;
    padding: 5px;
}
.lista li:hover{
    box-shadow: 0px 0px 2px #4682B4;
}


/* 
 ul{
     color: white;
     float: left;

 }
 li {
     color: white;
     font-family: Arial;
     display: inline-block;
     background-color: #00bfff;
     width:600%;
     height: 6%;
     outline: 1px solid  #0099cc;
     text-align: center;
    
 }
 .help{
 position: fixed;
 bottom: 3%;
  left: 20px;
   right: 20px;
 outline: 1px solid;
 margin-left:5.5%;
 color: aquamarine;
 background-color: #4682b4;
 border: 0px;
 height: 5%;
 width: 6%;
 
 }
 .funciona{
     float: right;
     height: 5%;
 }
 .agrvai{
     width: 36.5%;
     color: aquamarine;
     background-color: #4682b4;
     border: 0px;
     height: 5%;
 } */
